In [1]:
import pandas as pd

df = pd.read_csv("../data/synthetic_claims.csv")
df.head()

,patient_id,age,gender,diagnosis_code,claim_amount,claim_date,provider_id,has_physical_copy,notes
0,1,NaN,M,E50,6861.41,2023-09-30,178,True,Referred to specialist
1,2,32.0,M,E50,6269.53,2023-01-18,106,False,Lab tests required
2,3,89.0,F,B20,2805.35,2023-04-14,175,True,Referred to specialist
3,4,78.0,M,B20,5365.43,2023-06-01,149,False,Lab tests required
4,5,38.0,F,C30,4748.55,2023-11-24,138,True,Lab tests required

In [2]:
df.describe(include="all")

,patient_id,age,gender,diagnosis_code,claim_amount,claim_date,provider_id,has_physical_copy,notes
count,10000.00000,9500.000000,10000,9500,9500.000000,10000,10000.000000,10000,10000
unique,NaN,NaN,2,5,NaN,365,NaN,2,5
top,NaN,NaN,F,D40,NaN,2023-03-22,NaN,False,Routine check-up completed
freq,NaN,NaN,5072,1970,NaN,46,NaN,5036,2041
mean,5000.50000,53.497789,NaN,NaN,4999.502332,NaN,149.306900,NaN,NaN
std,2886.89568,20.781613,NaN,NaN,1484.121599,NaN,29.019323,NaN,NaN
min,1.00000,18.000000,NaN,NaN,-784.560000,NaN,100.000000,NaN,NaN
25%,2500.75000,35.000000,NaN,NaN,3979.665000,NaN,124.000000,NaN,NaN
50%,5000.50000,53.000000,NaN,NaN,5003.710000,NaN,149.000000,NaN,NaN
75%,7500.25000,72.000000,NaN,NaN,6009.845000,NaN,175.000000,NaN,NaN
max,10000.00000,89.000000,NaN,NaN,10913.500000,NaN,199.000000,NaN,NaN

In [3]:
df.isnull().sum()

patient_id             0
age                  500
gender                 0
diagnosis_code       500
claim_amount         500
claim_date             0
provider_id            0
has_physical_copy      0
notes                  0
dtype: int64

In [4]:
df["notes"].value_counts()

notes
Routine check-up completed    2041
Referred to specialist        2025
Lab tests required            2005
Patient requires follow-up    1976
Prescribed medication         1953
Name: count, dtype: int64

In [5]:
# Replace sensitive notes with generic tokens
df["notes"] = df["notes"].apply(lambda x: "REDACTED_NOTE")

# Drop any potentially identifying info if needed (optional here)
df.drop(columns=["provider_id"], inplace=True)  # simulate de-identification

In [6]:
df.to_csv("../data/claims_deidentified.csv", index=False)
print("✅ Clean version saved for ETL pipeline.")

✅ Clean version saved for ETL pipeline.